
body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
    background-color: #80dfff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}


h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000;
}


input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


button {
    background-color: #0055ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #003bb5;
}

#message {
    margin-top: 20px;
    font-size: 16px;
    color: #f00;
}
